<ion-header>
  <ion-toolbar color="success">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" shape =" round" (click)="gotoProfile()">Perfil</ion-button>
  <ion-button expand="block" shape =" round" (click)="gotoLlamar()">Llamar</ion-button>


  <ion-button expand="block" shape =" round" (click)="logout()">Logout</ion-button>
</ion-content>
